:root{
    --bg-white-theme: #EAEDF2;
    --bg-white-theme-lighter: #DDE1E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto', sans-serif; 
}

html{
    font-size: 16px;
}

body{
    background-color: var(--bg-white-theme);
}