:root{
    --white-white-theme: #FFFFFF;
    --color-primary: #4447E2;
    --color-secondary: #5F5F6E;
    --color-unselected: #A6ADB1;
    --light-theme-typography: #282B31;
    --light-theme-typography-light: #5F5F6E;
    --bg-white-theme: #EAEDF2;
    --bg-white-theme-lighter: #DDE1E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto', sans-serif; 
}

html{
    font-size: 16px;
}

body{
    background-color: var(--bg-white-theme);
}

/* Page _____________*/
.page__inner{
    margin: 0 auto;
    height: fit-content;
    width: 95%;
    max-width: 1200px;
    min-width: 300px;
}


/*header_____________*/
.header{
    width: 100%;
    height: 52px;
    margin-bottom: 20px;
    background-color: var(--white-white-theme);
}

.header__inner{
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    height: inherit;
    justify-content: space-between;
    padding: 0 15px;
}

.website-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.website-icon:hover{
    color: var(--color-primary);
}

.website-icon__img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.website-icon__website-name{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: normal;
}

.header__nav{
    position: fixed;
    display: flex;
    z-index: 99;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    height: 52px;
    width: 100vw;
    border-top: 2px var(--bg-white-theme) solid;
    background-color: var(--white-white-theme);
}

.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.62rem;
    font-weight: normal;
    line-height: 0.62rem;
    color: var(--color-unselected);
    text-decoration: none;
}

.nav-item:hover{
    color: var(--color-primary);
}

.nav-item:hover .icon{
    color: var(--color-primary);
}

.icon{
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    color:var(--color-unselected);
}

.header__profile-info{
    display: flex;
    align-items: center;
}

.funds-wrap{
    padding: 4px;
    display: flex;
    align-items: center;
    width: 105px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--bg-white-theme-lighter);
}

.buttom-ad-funds{
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary);
    cursor: pointer;
}

.buttom-ad-funds__icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: var(--white-white-theme);

}

.funds-icon{
    margin-right: 5px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 10px;
    color: var(--light-theme-typography);
}

.funds{
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 0.75rem;
    color: var(--light-theme-typography);
}

.header__user-avatar{
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.header__user-avatar_img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.dropdwon-menu-icon{
    display: none;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
}
/* 
/*task-list___________*/
.task-list{
    position: relative;
}

.task-list__wrap{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0 62px;
}

.task-list__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.task-list__buttom-add{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: var(--bg-white-theme-lighter);
    cursor: pointer;
}

.task-list__title{
    font-size: 1.37rem;
    font-weight: normal;
    line-height: 1.3rem;
    color: var(--light-theme-typography);
}

.buttom-go-up{
    position: absolute;
    right: 0;
    bottom: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--white-white-theme);
    cursor: pointer;
    text-decoration: none;
}

.buttom-go-up__icon{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-unselected);
    
}
/*task-tile___________*/

.task-tile{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1.31;
    min-width: 147px;
    min-height: 213px;
    padding: 6.5%;
    background-color: var(--white-white-theme);
    border-radius: 15px;
}

.task-tile__header{
    width: 100%;
    display: flex;
    margin-bottom: 10%;
}

.user-avatar{
    position: relative;
    margin-right: 5px;
    max-width: 50px;
    max-height: 50px;
    width: 20%;
    height: 20%;
}

.user-avatar__img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(44, 44, 44);
}

.task-tile__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    background-color: var(--white-white-theme);
    font-size: 9px;
    line-height: 9px;
    border-radius: 16px;
    color: #E24444;
}

.menu-icon{
    display: inline-block;
    margin-top: 4px;
    margin-left: auto;
    width: 14px;
    height: 14px;
    font-size: 15px;
    line-height: 15px;
    color: var(--light-theme-typography-light);
    cursor: pointer;
}

.task-tile__title{
    font-size: 0.65rem;
    font-weight: normal;
    line-height: 1.2rem;
    letter-spacing: normal;
    color: var(--light-theme-typography);
}

.task-tile__text{
    font-size: 0.58rem;
    font-weight: normal;
    line-height: 0.58rem;
    letter-spacing: normal;
    color: var(--light-theme-typography-light); 
}
 
.preview-image{
    width: 100%;
    height: 45.1476%;
    margin-bottom: 10%;
}

.preview-image__img{
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    border-radius: 15px;
}

.button{
    width: 100%;
    height: 16.877%;
    /* aspect-ratio: 1 / 0.2758; */
    border: 2px var(--color-primary) solid;
    border-radius: 15px;
    font-size: 0.65rem;
    font-weight: normal;
    color: var(--light-theme-typography);
} 

.button:hover{
    background-color: var(--color-primary);
    cursor: pointer;
    color: var(--white-white-theme);
}

/*Footer _____________*/
.footer{
    display: none;
}

.footer__inner{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    height: inherit;
    justify-content: space-between;
    padding: 0 15px;
}

.footer__icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    color: var(--light-theme-typography);
}

.footer__text{
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--light-theme-typography);
}
