.header{
    height: 80px;
}

.header__nav{
    position: static;
}


.header__nav{
    max-width: 310px;
    border: none;
}

.nav-item{
flex-direction: row;
    font-size: 1.12rem;
    line-height: 24px;
}

.icon{
    width: 24px;
    height: 24px;
    font-size: 24px;
    margin-right: 4px;
}

.table-hidden{
    display: none;
}

.header__user-avatar{
    display: block;
}
.dropdwon-menu-icon{
    display: inline-block;
}